{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
               Material List
            </h1>
        </div>
        <div class="row row-cards">
            <div class="col-lg-12">
                <div class="card">
                    <table class="table card-table table-vcenter">
                        {% for material in materials %}
                        <tr>
                            <td><img src="{{ asset('demo/products/apple-iphone7-special.jpg') }}" alt="" class="h-8"></td>
                            <td>
                                <a href="{{ path('material_show', { 'id': material.id }) }}">{{ material.id }}</a>
                            </td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">{{ material.nbtable }} Table</td>
                            <td class="text-right text-muted d-none d-md-table-cell text-nowrap">{{ material.nbchaise }} Chaise</td>
                            <td class="text-right">
                                <strong>$499</strong>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
